@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  -clr-dark: #0d1113;
  -clr-light: #fff;
  -clr-accent: #de3400;
  -clr-accent-dark: #a32600;
  -clr-secondary: #003ea3;
  --br: 0.5em;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: rgba(39, 38, 38, 0.904);
  color: var(--clr-light);
}

h1,
h2,
h3,
p {
  margin: 0;
  color: #fff;
}

img {
  max-width: 100%;
}

.game {
  position: relative;
  width: 12.5rem;
}

.streamers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.streamers img {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.rank {
  position: absolute;
  font-weight: bold;
  right: 0.7em;
  top: 1.6em;
  font-size: 1.125rem;
  color: #fff;
  z-index: 1000;
  background: #575050;
  padding: 0.5em 0.5em 0.75em;
  -webkit-clip-path: polygon(100% 0%, 100% 73%, 50% 100%, 0 74%, 0 0);
          clip-path: polygon(100% 0%, 100% 73%, 50% 100%, 0 74%, 0 0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.front {
  -webkit-transition: 250ms;
  transition: 250ms;
}

.front .thumbnail {
  border-radius: var(--br);
}

.front .name {
  margin: 0.75em 0;
}

.front .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.front .streamers img {
  border: 1px solid var(--clr-dark);
}

.front .streamers img:nth-of-type(1) {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  z-index: 1;
}

.front .streamers img:nth-of-type(2) {
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
}

.back {
  display: none;
}

.background {
  background: #234;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: scale(0.2, 0.9);
          transform: scale(0.2, 0.9);
  border-radius: var(--br);
  opacity: 0;
}

.game:hover .background {
  -webkit-transform: scale(1.4, 1.2);
          transform: scale(1.4, 1.2);
  -webkit-transition: opacity 100ms linear, -webkit-transform 250ms ease-in;
  transition: opacity 100ms linear, -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in, opacity 100ms linear;
  transition: transform 250ms ease-in, opacity 100ms linear, -webkit-transform 250ms ease-in;
  opacity: 1;
}

.game:hover .front {
  -webkit-transform: translateY(-30%) scale(0.8);
          transform: translateY(-30%) scale(0.8);
}

.game:hover .front .stats {
  opacity: 0;
}

.game:hover .rank {
  -webkit-transform: translate(150%, -140%);
          transform: translate(150%, -140%);
}

.game:hover .streamers {
  opacity: 0;
}
/*# sourceMappingURL=styles.css.map */